<p id="notice"><%= notice %></p>


<h1>Employees</h1>

    <% @users.each do |user| %>
    <p>
      <%= link_to user.name, employee_path(user) %>
      <%= user.job_description  %>

    </p>


    <% end %>


  
