

    <p id="notice"><%= notice %></p>

<h1 class="text-center">Employees</h1>
    <% @users.each do |employee| %>
    <div class="text-center">
      <hr>
      <h3><%= link_to employee.name, employee_path(employee) %><h3>
      <h5><%= employee.job_description  %><h5>
    </div>
    <% end %>
